       <figure>
        <img class="page-image" src={{ prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption> 
         {% endif %} 
      </figure> 

